<!-- features-video-area-start -->
<div class="features-video-area">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
         <div class="md:col-span-2 lg:col-span-1"></div>
         <div class="col-span-12 md:col-span-8 lg:col-span-10">
            <div class="features-video-wrapper">
               <div class="features-shape-wrapper-1">
                  <img class="features-shape" src="assets/img/shape/features-shape.png" alt="features-shape">
                  Get <span>help</span> from <br> this video
               </div>
               <div class="features-shape-werapper-2">
                  <span>65k+</span> <br>views daily
                  <img class="features-shape-2" src="assets/img/shape/features-shape-2.png" alt="features-shape-2">
               </div>
               <div class="reatures-video-thumb">
                  <img src="assets/img/features/features.jpg" alt="features-img">
               </div>
               <div class="features-video-content">
                  <div class="features-btn">
                     <a class="popup-video" href="javascript:void(0)" (click)="openDialogA()"><i class="fas fa-play"></i></a>
                  </div>
                  <div class="video-btn-text">
                     <span>Watch Video
                        <br>Intro</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- features-video-area-end -->