<main>
    <!-- <app-headerone></app-headerone> -->
    <!-- <app-hero></app-hero> -->
    <app-headertwo></app-headertwo>
    <router-outlet></router-outlet>

    <app-categories></app-categories>ذ
    <app-coursetab></app-coursetab>
    <!-- <app-featuresection></app-featuresection> -->
    <app-studentsection></app-studentsection>
    <app-testimonialslider></app-testimonialslider>
    <app-bannersection></app-bannersection>
    <!-- <app-educationsection></app-educationsection> -->
    <!-- <app-brandslider></app-brandslider> -->
    <app-footerone></app-footerone>

</main>
