<app-headerfour></app-headerfour>
<!-- content-error-area -->
<div class="content-error-area pt-[120px] pb-[120px]">
    <div class="container">
        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] justify-center">
            <div class="xl:col-span-2"></div>
            <div class="col-span-12 xl:col-span-8">
                <div class="content-error-item text-center">
                    <div class="error-thumb">
                        <img src="assets/img/bg/error-thumb.png" alt="image not found">
                    </div>
                    <div class="section-title">
                        <h2 class="mb-[20px]">Oops! That page can't be found.</h2>
                        <p>We couldn't find any results for your search. Use more generic words or double check your
                            spelling.</p>
                    </div>
                    <div class="error-btn">
                        <a class="edu-btn" [routerLink]="['/']">Back to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-error-end -->

<app-footerone></app-footerone>