<!-- testimonial-area-start -->
 <div class="testimonial-area pb-5">
   <div class="container">
      <div class="section-title text-center mb-4">
         <h2>افضل المدرسين الموجودين في <br>
            <span class="down-mark-line"> I TOP</span>
         </h2>
      </div>
      <!--
      <div class="testimonial-active">
         <div class="swiper-wrapper">
            <swiper class="mySwiper" [slidesPerView]="1" [spaceBetween]="30" [loop]="false" [autoplay]="{
                delay: 2500,
                disableOnInteraction: false
            }" [pagination]="{
              clickable: true,
              el: '.testimonial-pagination'
            }" [breakpoints]="{
                '320': {
                  slidesPerView: 1,
                  spaceBetween: 20
                },
                '480': {
                    slidesPerView: 1,
                    spaceBetween: 30
                  },
                '640': {
                  slidesPerView: 1,
                  spaceBetween: 30
                },
                '991': {
                  slidesPerView: 2,
                  spaceBetween: 30
                },
                '1200': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1400': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }">

               <ng-template swiperSlide *ngFor="let teacher of teachers">
                  <div class="testimonial-items relative" >
                     <div class="testimonial-header">
                        <div class="testimonial-img ml-4">
                           <img class="w-32 h-32" [src]="teacher.photo" alt="image not found">
                        </div>
                        <div class="testimonial-title">
                           <h4> {{teacher.first_name}} {{teacher.last_name}} </h4>
                           <span> {{teacher.subject}}</span>
                        </div>
                     </div>
                     <div class="testimoni-quotes">
                        <img src="assets/img/testimonial/quotes.png" alt="image not found">

                     </div>
                     <div class="testimonial-body">
                        <h3>نبذه مختصره عنه</h3>
                     
                        <p>{{teacher.brief}}</p>
                     </div>
                     <div class="testimonial-icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                     </div>
                  </div>
               </ng-template>
               <ng-template swiperSlide>
                  <div class="testimonial-items relative" dir="rtl">
                     <div class="testimonial-header">
                        <div class="testimonial-img ml-4">
                           <img src="assets/img/testimonial/testimonial-02.png" alt="image not found">
                        </div>
                        <div class="testimonial-title">
                           <h4> زهراء احمد</h4>
                           <span>مدرسه كيمياء</span>
                        </div>
                     </div>
                     <div class="testimoni-quotes">
                        <img src="assets/img/testimonial/quotes.png" alt="image not found">
                     </div>
                     <div class="testimonial-body">
                      <h3>نبذه مختصره عنه</h3>
                        <p>In every software-as-a-service solution, user billing and payments are key aspects in the
                           sale of services rendered. Let’s learn about Stripe the metal mates.</p>
                     </div>
                     <div class="testimonial-icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                     </div>
                  </div>
               </ng-template>
               <ng-template swiperSlide >
                  <div class="testimonial-items relative ml-4" dir="rtl">
                     <div class="testimonial-header">
                        <div class="testimonial-img">
                           <img src="assets/img/testimonial/testimonial.png" alt="image not found">
                        </div>
                        <div class="testimonial-title">
                           <h4> فؤاد عادل </h4>
                           <span>مدرس فيزياء</span>
                        </div>
                     </div>
                     <div class="testimoni-quotes">
                        <img src="assets/img/testimonial/quotes.png" alt="image not found">
                     </div>
                     <div class="testimonial-body">
                      <h3>نبذه مختصره عنه</h3>
                        <p>There are so many websites out there that have not considered the overall usability of
                           their visually impaired users. When it comes to designing better links.</p>
                     </div>
                     <div class="testimonial-icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                     </div>
                  </div>
               </ng-template>

            </swiper>
         </div>
         <div class="testimonial-pagination text-center"></div>
      </div>-->
   </div>
</div> 
<div *ngFor="let teacher of teachers" class="grid grid-cols-12 mb-6 p-8" dir="rtl">
      <div class="testimonial-items relative lg:col-span-4 md:col-span-6 col-span-12">
         <div class="testimonial-header">
            <div class="testimonial-img ml-4">
               <img class="w-32 h-32" [src]="teacher.photo" alt="image not found">
            </div>
            <div class="testimonial-title">
               <h4> {{teacher.first_name}} {{teacher.last_name}} </h4>
               <span> {{teacher.subject}}</span>
            </div>
         </div>
         <div class="testimoni-quotes">
            <img src="assets/img/testimonial/quotes.png" alt="image not found">
      
         </div>
         <div class="testimonial-body">
            <h3>نبذه مختصره عنه</h3>
            <!-- <p>Thanks to our marketplace model, our content keeps pace with market changes. You’ll find
                                 courses on the latest technologies and business practice and more!</p> -->
            <p>{{teacher.brief}}</p>
         </div>
         <div class="testimonial-icon">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
         </div>
      </div>
</div>
<!-- testimonial-area-end -->