<!-- browser-course-area-start -->
<div class="browser-course-area">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
         <div class="mb-[30px] col-span-12 lg:col-span-6 xl:col-span-6">
            <div class="browser-course-wrapper course-height">
               <div class="browser-course-bg">
                  <img src="assets/img/browser-course/browser-course-01.jpg" alt="image not found">
               </div>
               <div class="browser-course-content">
                  <span>Start from today</span>
                  <div class="browser-course-tittle">
                     <a [routerLink]="['/instructor']">Become an instructor
                        and spread your knowledge</a>
                  </div>
                  <div class="browser-btn">
                     <a class="course-btn" [routerLink]="['/become-instructor']">View details</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="mb-[30px] col-span-12 lg:col-span-6 xl:col-span-6">
            <div class="browser-course-wrapper course-height">
               <div class="browser-course-bg">
                  <img src="assets/img/browser-course/browser-course-02.jpg" alt="image not found">
               </div>
               <div class="grid grid-cols-12">
                  <div class="col-span-12 lg:col-span-7 xl:col-span-7">
                     <div class="browser-course-content">
                        <span>Discover your gain</span>
                        <div class="browser-course-tittle">
                           <a [routerLink]="['/course-details']">Keep your skilled centers of
                              excellence competitive</a>
                        </div>
                        <div class="browser-btn">
                           <a class="course-btn" [routerLink]="['/course']">Browse courses</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- browser-course-area-end -->