<main>
    <!-- <app-headerone></app-headerone> -->
    <app-headertwo></app-headertwo>
    <!-- <app-headerthree></app-headerthree> -->
    <!-- <app-headerfour></app-headerfour> -->
    <!-- <app-hero></app-hero> -->
    <div class="grid grid-cols-12">
        <div class="col-span-10 bg-gray-50">
            <router-outlet></router-outlet>

        </div>
        <div class="col-span-2  hidden xl:block">
            <app-sidebar></app-sidebar>
        </div>

    </div>

    <!-- <app-categories></app-categories>
    <app-coursetab></app-coursetab>
    <app-featuresection></app-featuresection>
    <app-studentsection></app-studentsection>
    <app-testimonialslider></app-testimonialslider>
    <app-bannersection></app-bannersection>
    <app-educationsection></app-educationsection>
    <app-brandslider></app-brandslider> -->
    <!-- <app-footerone></app-footerone> -->
</main>