<div class="cartmini__widget">
    <div class="cartmini__inner">
        <ul>
            <li>
                <div class="cartmini__thumb">
                    <a href="#">
                        <img src="assets/img/products/product-thumb-01.png" alt="image not found">
                    </a>
                </div>
                <div class="cartmini__content">
                    <h5><a href="#">Turn Yourself</a></h5>
                    <div class="product-quantity mt-2.5">
                        <span class="cart-minus" (click)="counter('count', 'subtract')">-</span>
                        <p class="cart-input">{{ counters['count'] }}</p>
                        <span class="cart-plus" (click)="counter('count', 'add')">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                        <span class="product__sm-price">$24.00</span>
                    </div>
                </div>
                <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
            </li>
            <li>
                <div class="cartmini__thumb">
                    <a href="#">
                        <img src="assets/img/products/product-thumb-02.png" alt="image not found">
                    </a>
                </div>
                <div class="cartmini__content">
                    <h5><a href="#">Art of Not Giving</a></h5>
                    <div class="product-quantity mt-2.5">
                        <span class="cart-minus" (click)="counter('count1', 'subtract')">-</span>
                        <p class="cart-input">{{ counters['count1'] }}</p>
                        <span class="cart-plus" (click)="counter('count1', 'add')">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                        <span class="product__sm-price">$12.00</span>
                    </div>
                </div>
                <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
            </li>
            <li>
                <div class="cartmini__thumb">
                    <a href="#">
                        <img src="assets/img/products/product-thumb-03.png" alt="image not found">
                    </a>
                </div>
                <div class="cartmini__content">
                    <h5><a href="#">Attract Women</a></h5>
                    <div class="product-quantity mt-2.5">
                        <span class="cart-minus" (click)="counter('count2', 'subtract')">-</span>
                        <p class="cart-input">{{ counters['count2'] }}</p>
                        <span class="cart-plus" (click)="counter('count2', 'add')">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                        <span class="product__sm-price">$42.00</span>
                    </div>
                </div>
                <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
            </li>
        </ul>
    </div>
    <div class="cartmini__checkout">
        <div class="cartmini__checkout-title mb-[30px]">
            <h4>Subtotal:</h4>
            <span>$78.00</span>
        </div>
    </div>
    <div class="cartmini__viewcart">
        <a [routerLink]="['/cart']" class='edu-sec-btn'>View cart</a>
        <a [routerLink]="['/checkout']" class='edu-sec-btn'>Checkout</a>
    </div>
</div>