<app-headerfour></app-headerfour>

<app-faqbanner></app-faqbanner>
<!-- faq-area-start -->
<div class="faq-topic-area pb-[90px]">
   <div class="container">
      <div class="faq-tabs-area mt-[50px]">
         <div class="grid grid-cols-12">
            <div class="col-span-12">
               <div class="faq-nav-tab">
                  <div class="nav nav-tabs" id="myTab" role="tablist">
                     <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Student">
                           <div class="faq-area pt-[30px] pb-[30px]">
                              <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                                 <div class="col-span-12">
                                    <div class="faq-tittle-info text-center pt-[55px] mb-[50px]">
                                       <h3>Frequently Asked Queastions</h3>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Life time access for course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to find missing course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to download course certificate</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Life time access for course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to refund a course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Payment method on Eduman</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to start course on Mobile</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to gift course to friend</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How edit your profile</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </mat-tab>
                        <mat-tab label="Instructor">
                           <div class="faq-area pt-[30px] pb-[30px]">
                              <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                                 <div class="col-span-12">
                                    <div class="faq-tittle-info text-center pt-[55px] mb-[50px]">
                                       <h3>Frequently Asked Queastions</h3>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to find missing course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to download course certificate</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Life time access for course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Life time access for course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to refund a course</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">Payment method on Eduman</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to start course on Mobile</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How to gift course to friend</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-span-12 lg:col-span-6 xl:col-span-4">
                                    <div class="faq-wrapper mb-[30px]">
                                       <div class="faq-question-item">
                                          <div class="faq-queastion-text">
                                             <a [routerLink]="['/faq-details']">How edit your profile</a>
                                          </div>
                                          <div class="faqicon-arrow">
                                             <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </mat-tab>
                      </mat-tab-group>                      
                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-faqtopic></app-faqtopic>
   </div>
</div>
<!-- faq-area-end -->

<app-footerone></app-footerone>