<nav id="mobile-menu">
    <ul>
        <li class="menu-item-has-children"><a [routerLink]="['/']">Home</a>
            <!-- <ul class="sub-menu">
                <li><a [routerLink]="['/']">Home 1</a></li>
                <li><a [routerLink]="['/home-2']">Home 2</a></li>
                <li><a [routerLink]="['/home-3']">Home 3</a></li>
            </ul> -->
        </li>
        <li class="menu-item-has-children"><a [routerLink]="['/course']">My Courses</a>
            <ul class="sub-menu">
                <li><a [routerLink]="['/course']">Course 1</a></li>
                <li><a [routerLink]="['/course-2']">Course 2</a></li>
                <li><a [routerLink]="['/course-3']">Course 3</a></li>
                <li><a [routerLink]="['/course-4']">Course 4</a></li>
                <li><a [routerLink]="['/course-details']">Course Details</a></li>
                <li><a [routerLink]="['/webinar']">Webinars</a></li>
                <li><a [routerLink]="['/webinar-details']">Webinar Details</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a [routerLink]="['/shop']">Courses</a>
            <ul class="sub-menu">
                <li><a [routerLink]="['/shop']">shop</a></li>
                <li><a [routerLink]="['/shop-details']">shop details</a></li>
                <li><a [routerLink]="['/wishlist']">wishlist</a></li>
                <li><a [routerLink]="['/cart']">cart</a></li>
                <li><a [routerLink]="['/checkout']">checkout</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children"><a href="javascript:void(0)">Pages</a>
            <ul class="sub-menu">
                <li><a [routerLink]="['/about']">About</a></li>
                <li class="menu-item-has-children"><a [routerLink]="['/instructor']">instructor</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/instructor']">instructor</a></li>
                        <li><a [routerLink]="['/instructor-profile']">instructor profile</a></li>
                        <li><a [routerLink]="['/student-profile']">Student profile</a></li>
                        <li><a [routerLink]="['/become-instructor']">become instructor</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a [routerLink]="['/zoom-class']">zoom class</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/zoom-class']">zoom class</a></li>
                        <li><a [routerLink]="['/zoom-class-detalis']">zoom class details</a></li>
                    </ul>
                </li>
                <!-- <li class="menu-item-has-children"><a [routerLink]="['/blog']">blog</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/blog']">blog</a></li>
                        <li><a [routerLink]="['/blog-details']">blog details</a></li>
                    </ul>
                </li> -->
                <li class="menu-item-has-children"><a [routerLink]="['/event']">event</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/event']">event</a></li>
                        <li><a [routerLink]="['/event-details']">event details</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/membership']">membership plan</a></li>
                <!-- <li class="menu-item-has-children"><a [routerLink]="['/faq-page']">FAQ page</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/faq-page']">FAQ page</a></li>
                        <li><a [routerLink]="['/faq-details']">FAQ details</a></li>
                    </ul>
                </li> -->
                <li><a [routerLink]="['/signin']">Sign In</a></li>
                <li><a [routerLink]="['/signup']">Sign Up</a></li>
                <!-- <li><a [routerLink]="['/404-page']">404 page</a></li> -->
                <li><a [routerLink]="['/contact']">contact</a></li>
            </ul>
        </li>
    </ul>
</nav>
