<app-headerfour></app-headerfour>
<app-breadcrumb breadcrumbTitle="Courses 04" breadcrumbSubTitle="Courses"></app-breadcrumb>
<app-coursebar></app-coursebar>

<!-- course-content-start -->
<div class="course-content-area pb-[90px]">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] mb-2.5">
         <div class="col-span-12 lg:col-span-4">
            <div class="course-sidebar-widget mb-[20px]">
               <app-shopcat></app-shopcat>
            </div>
            <div class="course-sidebar-widget mb-[20px]">
               <app-shoprating></app-shoprating>
            </div>
            <div class="course-sidebar-widget mb-[20px]">
               <app-shopprice></app-shopprice>
            </div>
            <div class="course-sidebar-widget mb-[20px]">
               <app-shoplevel></app-shoplevel>
            </div>
            <div class="course-sidebar-widget mb-[20px]">
               <app-shoplanguage></app-shoplanguage>
            </div>
            <div class="course-sidebar-widget mb-[20px]">
               <app-shopduration></app-shopduration>
            </div>
         </div>
         <div class="col-span-12 lg:col-span-8">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-2.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Bachelor of Business Administration ( Accounting)</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor David</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-3.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Bachelor of Business Administration ( Accounting)</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor David</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-4.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Entrepreneurship Essentials Business Course</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor Joseph</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-5.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Financial Analysis Valuation for Lawyers Eduman</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor Michel</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-6.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Entrepreneurship Essentials Business Course</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor Joseph</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="academic-box mb-[30px]">
                     <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-7.jpg" alt="image not found">
                     </div>
                     <div class="academic-content">
                        <div class="academic-content-header">
                           <a [routerLink]="['/course-details']">
                              <h3>Entrepreneurship Essentials Business Course</h3>
                           </a>
                        </div>
                        <div class="academic-body">
                           <div class="academic-tutor flex items-center">
                              <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                              <a [routerLink]="['/instructor-profile']">Professor Joseph</a>
                           </div>
                           <p>Helping employees gain skills and development often take a back seat to business</p>
                        </div>
                        <div class="academic-footer">
                           <div class="coursee-clock">
                              <i class="flaticon-clock"></i><span>4 Years</span>
                           </div>
                           <div class="course-creadit">
                              <i class="flaticon-menu-1"></i><span>8 Credit</span>
                           </div>
                           <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="grid grid-cols-12">
               <div class="col-span-12">
                  <app-pagination></app-pagination>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- course-content-end -->

<app-footerone></app-footerone>