<nav>
    <ul>
        <li class="item-has-children"><a [routerLink]="['/course']">Development</a>
            <ul class="category-submenu">
                <li><a [routerLink]="['/course']">All Development</a></li>
                <li><a [routerLink]="['/course']">Mobile App</a></li>
                <li><a [routerLink]="['/course']">Web Development</a></li>
                <li><a [routerLink]="['/course']">Development tools</a></li>
                <li><a [routerLink]="['/course']">Database</a></li>
                <li><a [routerLink]="['/course']">Programming language</a></li>
            </ul>
        </li>
        <li class="item-has-children"><a [routerLink]="['/course']">Art & Design</a>
            <ul class="category-submenu">
                <li><a [routerLink]="['/course']">Web Design</a></li>
                <li><a [routerLink]="['/course']">Graphic Design</a></li>
                <li><a [routerLink]="['/course']">Design tools</a></li>
                <li><a [routerLink]="['/course']">All Art</a></li>
                <li><a [routerLink]="['/course']">Marketing</a></li>
            </ul>
        </li>
        <li class="item-has-children"><a [routerLink]="['/course']">Business</a>
            <ul class="category-submenu">
                <li><a [routerLink]="['/course']">All Business</a></li>
                <li><a [routerLink]="['/course']">Communications</a></li>
                <li><a [routerLink]="['/course']">Finance</a></li>
                <li><a [routerLink]="['/course']">Management</a></li>
                <li><a [routerLink]="['/course']">Sales</a></li>
            </ul>
        </li>
        <li class="item-has-children"><a [routerLink]="['/course']">Life Style</a>
            <ul class="category-submenu">
                <li><a [routerLink]="['/course']">Life Style</a></li>
                <li><a [routerLink]="['/course']">Mental Health</a></li>
                <li><a [routerLink]="['/course']">Dieting</a></li>
                <li><a [routerLink]="['/course']">All Art</a></li>
                <li><a [routerLink]="['/course']">Nutrition</a></li>
            </ul>
        </li>
        <li class="item-has-children"><a [routerLink]="['/course']">Health & Fitness</a>
            <ul class="category-submenu">
                <li><a [routerLink]="['/course']">All Health & Fitness</a></li>
                <li><a [routerLink]="['/course']">Beauty & Makeup</a></li>
                <li><a [routerLink]="['/course']">Food & Beverages</a></li>
                <li><a [routerLink]="['/course']">Good Food</a></li>
            </ul>
        </li>
        <li><a [routerLink]="['/course']">Data Science</a></li>
        <li><a [routerLink]="['/course']">Marketing</a></li>
        <li><a [routerLink]="['/course']">Photography</a></li>
    </ul>
</nav>