<!-- become-intructor-area-start -->
<div class="become-intructor-area pt-[110px] pb-[120px]">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] justify-center text-center">
         <div class="md:col-span-2 xl:col-span-3"></div>
         <div class="col-span-12 md:col-span-8 xl:col-span-6">
            <div class="become-intructor-text">
               <h2>Become an Instructor Today</h2>
               <p>Join one of the world’s largest online learning marketplaces. Our Instructor Support Team is
                  ready to help you while our Teaching Center</p>
               <a class="edu-btn" [routerLink]="['/become-instructor']">Get started now</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- become-intructor-area-end -->