<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Forgot Password" breadcrumbSubTitle="Forgot Password"></app-breadcrumb>

<!-- sigin-area sart-->
<div class="pt-[120px] pb-[120px] signin-page-area">
    <div class="signin-page-area-wrapper">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="lg:col-span-1"></div>
                <div class="col-span-12 lg:col-span-10">
                    <form action="#">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                            <div class="col-span-12 md:col-span-5">
                                <div class="signup-box text-center">
                                    <div class="signup-text">
                                        <h3>Forgot Password</h3>
                                    </div>
                                    <div class="signup-thumb">
                                        <img src="assets/img/sing-up/sign-up.png" alt="image not found">
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-7">
                                <div class="signup-form-wrapper">
                                    <p class='mb-[25px] rounded-none'>Lost your password? Please enter your email
                                        address. You will receive a link to create a new password via email.</p>
                                    <div class="signup-wrapper">
                                        <input type="email" placeholder="Enter your email">
                                    </div>
                                    <div class="sing-buttom mb-5">
                                        <button type="submit" class="sing-btn">Send</button>
                                    </div>
                                    <div class="registered wrapper">
                                        <div class="not-register">
                                            <span>Back to?</span><span><a [routerLink]="['/signin']">SignIn</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="lg:col-span-1"></div>
            </div>
        </div>
    </div>
</div>
<!-- sigin-area end-->

<app-footerone></app-footerone>