<div class="course-curriculam-accodion mt-[30px]">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="accordion-header">
                                <span class="accordion-tittle">
                                    <span>Welcome to the Course & Overview</span>
                                </span>
                                <span class="accordion-tittle-inner">
                                    <span>8 lectures • 47m</span>
                                </span>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>5:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>7:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>3:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>8:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="accordion-header">
                                <span class="accordion-tittle">
                                    <span>Python Application Engine</span>
                                </span>
                                <span class="accordion-tittle-inner">
                                    <span>2 lectures • 12m</span>
                                </span>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Data Manipulation Tools</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>6:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>8:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="accordion-header">
                                <span class="accordion-tittle">
                                    <span>Algorithm Comparison</span>
                                </span>
                                <span class="accordion-tittle-inner">
                                    <span>3 lectures • 13m</span>
                                </span>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>3:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>5:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>7:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="accordion-header">
                                <span class="accordion-tittle">
                                    <span>Data Manipulation Tools</span>
                                </span>
                                <span class="accordion-tittle-inner">
                                    <span>7 lectures • 35m</span>
                                </span>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>2:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>4:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="accordion-header">
                                <span class="accordion-tittle">
                                    <span>Sorting- the Bubble Sort Algorithm</span>
                                </span>
                                <span class="accordion-tittle-inner">
                                    <span>10 lectures • 55m</span>
                                </span>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>6:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                        <div class="course-curriculum-content sm:flex justify-between items-center">
                            <div class="course-curriculum-info">
                                <i class="flaticon-youtube"></i>
                                <h4>Importing the libraries</h4>
                            </div>
                            <div class="course-curriculum-meta">
                                <span>8:30</span>
                                <span class="time"> <i class="flaticon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>              
        </div>
    </div>
</div>