// hero-style
@import '../../../../custom-palettes.scss';

.hero-text {
	h5 {
		@apply text-[18px] mb-[25px] text-themeBlue;
	}
	h2 {
		@apply leading-tight mb-[30px] xxl:text-[50px] xl:text-[30px] lg:text-[35px] maxMd:text-[30px];
	}
	p {
		@apply text-[18px] mb-10;
	}
}
.hero-height {
	@apply h-[600px] flex items-center md:h-[840px] lg:h-[900px] bg-center;
	@media (min-width: 768px) and (max-width: 1600px) { 
		background-position: 80% 0%;
	 }
	 @media (min-width: 320px) and (max-width: 767px) {
		background-position: inherit;
	 }
}
.section-title {
	h2 {
		@apply leading-tight xl:text-[36px] md:text-[30px] sm:text-[28px] xs:text-[26px];
		a {
			@apply text-themeBlue;
		}
	}
}
// shape-style

.shape.shape-1 {
	-webkit-animation: hero-circle-1 6s linear 0s infinite alternate;
	-moz-animation: hero-circle-1 6s linear 0s infinite alternate;
	-o-animation: hero-circle-1 6s linear 0s infinite alternate;
	animation: hero-circle-1 6s linear 0s infinite alternate;
	@apply absolute top-[35px] left-[105px] max2Xl:left-[-10%] maxXl:left-[105px] maxMd:hidden;
}
.shape-2 {
	@apply absolute top-[100px] right-[-25px] z-[1] max2Xl:right-0 maxLg:hidden;
}
.shape-3 {
	@apply absolute top-[50%] left-0;
}
.shape-4 {
	box-shadow: 0px 40px 50px rgba(28, 51, 84, 0.16);
	@apply absolute top-[335px] left-[150px] rounded-xl bg-white w-[180px] p-[17px] text-center maxDesktop:top-[320px] maxDesktop:left-[180px] max2Xl:top-[250px] max2Xl:left-[-15px] maxXl:top-[200px] maxXl:left-[6%] maxLg:top-[274px] maxLg:left-0 maxMd:hidden;
	img {
		box-shadow: 0px 10px 20px rgba(24, 44, 74, 0.16);
		@apply rounded-[50%] mb-5;
	}
	h5 {
		@apply text-heading font-primary font-bold text-[18px] leading-relaxed;
	}
}
.shape-5 {
	-webkit-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
	-moz-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
	-o-animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
	animation: hero-thumb-sm-2-animation 4s linear infinite alternate;
	box-shadow: 0px 40px 50px rgba(28, 51, 84, 0.16);
	@apply absolute max-w-[283px] bottom-[-350px] right-[-36%] rounded-xl bg-white px-6 pt-5 pb-[15px] maxDesktop:right-[-15%] max2Xl:right-0 max2Xl:bottom-[-300px] maxXl:right-[-7%];
	h5 {
		@apply font-normal text-[18px] leading-relaxed mb-0;
	}
	span {
		@apply text-themeBlue font-bold text-center;
	}
}
.shape-6 {
	@apply absolute top-[200px] left-[17%] inline-block maxMd:hidden;
	@media (min-width: 1601px) and (max-width: 1800px) { 
		@apply right-0;
	 }
}
.course-card {
	@apply bg-white rounded-[7px] px-[15px] py-2.5 absolute top-[-31px] left-[15px];
	img {
		box-shadow: 0px 0px 10px rgba(28, 51, 84, 0.1);
		@apply w-[30px] h-[30px] rounded-[50%] border-4 border-white mr-[-15px];
	}
	span {
		i {
			@apply text-heading w-[30px] h-[30px] rounded-[50%] text-[10px] leading-[22px] border-4 border-white bg-themeOrange;
		}
	}
}