<!-- portfolio main area start  -->
<section class="course-area relative pt-[110px] pb-[90px]" id="courses">
  <div class="course-shape-1">
    <img src="assets/img/shape/portfolio-shap-1.png" alt="shape" />
  </div>
  <div class="course-shape-2">
    <img src="assets/img/shape/portfolio-shap-2.png" alt="shape" />
  </div>
  <div class="course-shape-3">
    <img src="assets/img/shape/portfolio-shap-3.png" alt="shape" />
  </div>
  <div class="container" dir="rtl">
    <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
      <div class="col-span-12">
        <div class="section-title mb-[40px]">
          <h2>
            اكتشف<br />
            افضل <span class="down-mark-line">الكورسات</span>
          </h2>
        </div>
      </div>
      <div class="col-span-12">
        <div class="portfolio-button">
          <mat-tab-group [@.disabled]="true">
            <mat-tab>
              <ng-template mat-tab-label><button class="active">جميع الكورسات</button></ng-template>
              <app-coursetabdetails [courses]="courses"></app-coursetabdetails>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label><button>الصف الاول الثانوي</button>
              </ng-template>
              <app-coursetabdetails></app-coursetabdetails>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label><button>الصف الثاني الثانوي</button>
              </ng-template>
              <app-coursetabdetails></app-coursetabdetails>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label><button>الصف الثالث الثانوي</button>
              </ng-template>
              <app-coursetabdetails></app-coursetabdetails>
            </mat-tab>


          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio main area end -->