<div class="contact-form">
    <form action="#">
        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
            <div class="col-span-12 xl:col-span-6">
                <div class="contact-from-input mb-[20px]">
                    <input type="text" placeholder="Name">
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6">
                <div class="contact-from-input mb-[20px]">
                    <input type="text" placeholder="Phone">
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6">
                <div class="contact-from-input mb-[20px]">
                    <input type="text" placeholder="Email">
                </div>
            </div>
            <div class="col-span-12 xl:col-span-6">
                <div class="contact-select">
                    <select class="mb-[20px]">
                        <option value="Subject">Course</option>
                        <option value="Subject">Financial Aid</option>
                        <option value="Subject">Payment</option>
                        <option value="Subject">Information</option>
                    </select>
                </div>
            </div>
            <div class="col-span-12">
                <div class="contact-from-input mb-[20px]">
                    <textarea placeholder="Message" name="message"></textarea>
                </div>
            </div>
            <div class="col-span-12">
                <div class="cont-btn mb-[20px]">
                    <a href="#" class="cont-btn">Submit</a>
                </div>
            </div>
        </div>
    </form>
</div>