<!-- skill-area-start -->
<div class="skill-area">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="skill-background-img skill-wrapper"
                    [style.background-image]="'url(assets/img/bg/skill.jpg)'">
                    <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                        <div class="col-span-12 lg:col-span-6">
                            <div class="skill-content">
                                <span>Keep Your Skills</span>
                                <h3>Transform Your life <br>
                                    Through Exclusive Education</h3>
                                <a class="edu-four-btn" [routerLink]="['/course']">Browse all courses</a>
                            </div>
                        </div>
                        <div class="col-span-12 lg:col-span-6">
                            <div class="skill-thumb relative">
                                <img src="assets/img/bg/skill-laptop.png" alt="image not found">
                                <div class="course-price-start">
                                    Only <span class="course-price">$5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- skill-area-end -->