<!-- membership-area-start -->
<section class="membership-area pt-[110px] pb-20">
   <div class="container">
      <div class="grid grid-cols-12">
         <div class="lg:col-span-3"></div>
         <div class="col-span-12 lg:col-span-6">
            <div class="section-title text-center mb-[20px]">
               <h2>Membership Plan</h2>
               <p>Whether you're looking for smart course , start your next journey with course of
                  famous instructors we have a plan for you.</p>
            </div>
         </div>
      </div>
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] justify-center">
         <div class="col-span-12">
            <div class="pricing-tab">
               <div class="nav nav-tabs justify-center" id="priceTab" role="tablist">
                  <mat-tab-group animationDuration="0ms">
                     <mat-tab label="Monthly">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>Free</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 2 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Free for starters</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box  mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>9.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 5 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>3 Times Access</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>14.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 10 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Full Time Access</li>
                                          <li><i class="far fa-check"></i>Monthly Backup</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn-active" href="#">Choose plan</a>
                                 <div class="Popular-plan">
                                    <span>Popular
                                       plan</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box  mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>19.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Unlimited Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Instant Profile Option</li>
                                          <li><i class="far fa-check"></i>Full Time Access</li>
                                          <li><i class="far fa-check"></i>Anytime Backup</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                        </div>
                     </mat-tab>
                     <mat-tab label="Yearly">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>Free</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 2 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Free for starters</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box  mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>19.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 5 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>3 Times Access</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>29.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Up to 10 Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Full Time Access</li>
                                          <li><i class="far fa-check"></i>Monthly Backup</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn-active" href="#">Choose plan</a>
                                 <div class="Popular-plan">
                                    <span>Popular
                                       plan</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col-span-12 md:col-span-6 xl:col-span-3">
                              <div class="membership-box  mb-[30px]">
                                 <div class="membership-info">
                                    <h4>Basic</h4>
                                    <div class="membership-price">
                                       <span>69.00</span>
                                       <p>Free for starters</p>
                                    </div>
                                    <div class="membership-list">
                                       <ul>
                                          <li><i class="far fa-check"></i>Unlimited Devices</li>
                                          <li><i class="far fa-check"></i>Handle Basic Option</li>
                                          <li><i class="far fa-check"></i>Individual Course</li>
                                          <li><i class="far fa-check"></i>Instant Profile Option</li>
                                          <li><i class="far fa-check"></i>Full Time Access</li>
                                          <li><i class="far fa-check"></i>Anytime Backup</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <a class="membership-btn" href="#">Choose plan</a>
                              </div>
                           </div>
                        </div>
                     </mat-tab>
                  </mat-tab-group>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- membership-area-start -->