// footer-style
@import '../../../../../custom-palettes.scss';

.footer-area {
	@apply bg-heading;
}
.footer-img {
	img {
		@apply mb-[30px];
	}
}
.footer-widget {
	@apply minMaxMobile:mb-5;
	p {
		@apply text-themeGray mb-[30px];
	}
	h3 {
		@apply text-white mb-[30px] text-[20px];
	}
	ul {
		li {
			@apply mb-2.5;
			&:last-child {
				@apply mb-0;
			}
			a {
				@apply text-themeGray no-underline;
				&:hover {
					@apply text-white;
				}
			}
		}
	}
}
.f-w1 {
	@apply mr-0;
}
.f-w2 {
	@apply ml-[130px] minMaxTablet:ml-[75px] minMaxTab:ml-[50px] maxMd:ml-0;
}
.f-w3 {
	@apply ml-[120px] minMaxTablet:ml-[70px] minMaxTab:ml-10 maxMd:ml-0;
}
.f-w4 {
	@apply ml-[110px] minMaxTablet:ml-[70px] minMaxTab:ml-5 maxMd:ml-0;
}

.footer-icon {
	@apply minMaxTabSmall:mb-[30px];
	a {
		@apply text-white bg-[#212730] h-10 w-10 leading-10 text-[16px] rounded-[30px] text-center mr-[15px] inline-block;
		&:hover {
			@apply bg-themeBlue;
		}
		@apply minMaxTab:mr-[9px] minMaxTabSmall:mr-[9px];
	}
}

// footer-style
.copyright-area {
	border-radius: 10px 10px 0 0;
	@apply bg-[#1a1f27] py-[30px] px-5 maxSm:px-[15px];
}
.copy-right-support {
	@apply flex items-center top-[5px] relative minMaxMobile:mb-5 maxXs:mb-[25px] maxXs:mt-2.5;
	p {
		@apply text-[#a2a2a2] mb-[3px] text-[14px];
	}
	span {
		@apply text-themeBlue;
	}
}
.copy-right-svg {
	@apply mr-5;
}
.copyright-svg-content {
	h5 {
		@apply text-white text-[18px] font-bold font-primary;
		@apply minMaxMobile:text-[16px];
	}
}
.copyright-subcribe {
	@apply relative minMaxTabSmall:mt-[30px];
}
.copyright-subcribe .field input {
	height: 70px;
	width: 100%;
	padding: 0 190px 0 45px;
	border: 0;
	border-radius: 5px;
	@apply text-white bg-heading;
	outline: none;
	@apply minMaxTab:py-0 minMaxTab:right-[150px] minMaxTab:pl-[45px] minMaxTabSmall:p-0 minMaxTabSmall:pl-[45px] maxXs:py-0 maxXs:right-5 maxXs:pl-[45px] maxXs:pr-5;
	&::placeholder {
		@apply text-themeGray;
	}
	&::-moz-placeholder {
		@apply text-themeGray;
	}
}
.copyright-subcribe button {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 50px;
	width: 160px;
	@apply bg-themeBlue;
	border-radius: 5px;
	@apply text-white;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	@apply minMaxTab:w-[130px] maxXs:mb-4 maxXs:relative maxXs:left-0;
	&:hover {
		@apply bg-themeOrange;
		@apply text-heading;
	}
}
.widget__subscribe .field {
	position: relative;
	&::before {
		position: absolute;
		content: "\f0e0";
		font-family: "Font Awesome 5 Pro";
		@apply text-themeGray;
		@apply text-themeGray;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
	}
}
.copyright-text {
	width: 196px;
	position: relative;
	top: 9px;
	@apply minMaxMobile:mb-[30px];
	p {
		@apply text-white;
	}
	span {
		@apply text-themeBlue;
	}
}
// border-style
.border-line::after {
	position: absolute;
	content: "";
	height: 70px;
	width: 1px;
	background: #373a3e;
	top: -9px;
	right: -28%;
	@apply maxLg:hidden minMaxTablet:right-[-17%];
}
.border-line-2::before {
	position: absolute;
	content: "";
	height: 70px;
	width: 1px;
	background: #373a3e;
	right: 50px;
	top: -9px;
	@apply maxLg:hidden minMaxTablet:right-3;
}