<!-- features-area-start-->
<div class="features-area pt-[45px] pb-[15px]" [style.background-image]="'url(assets/img/fact/fact.png)'">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
         <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="features-wrapper flex items-center mb-[30px]">
               <div class="features-icon">
                  <i class="flaticon-online-course"></i>
               </div>
               <div class="features-content">
                  <h3>Learn with skills
                     over 2,420 courses</h3>
               </div>
            </div>
         </div>
         <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="features-wrapper flex items-center mb-[30px]">
               <div class="features-icon">
                  <i class="flaticon-certificate"></i>
               </div>
               <div class="features-content">
                  <h3>Earn certificates
                     and degrees</h3>
               </div>
            </div>
         </div>
         <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="features-wrapper flex items-center mb-[30px]">
               <div class="features-icon">
                  <i class="flaticon-laptop"></i>
               </div>
               <div class="features-content">
                  <h3>Learn from
                     anywhere, any time</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- fact-area-end-->