<div class="blog__comment">
   <h3>Leave a Comment</h3>
   <form action="#">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
         <div class="col-span-12 lg:col-span-6">
            <div class="blog__comment-input">
               <input type="text" placeholder="Your Name">
            </div>
         </div>
         <div class="col-span-12 lg:col-span-6">
            <div class="blog__comment-input">
               <input type="email" placeholder="Your Email">
            </div>
         </div>
         <div class="col-span-12">
            <div class="blog__comment-input">
               <input type="text" placeholder="Website">
            </div>
         </div>
         <div class="col-span-12">
            <div class="blog__comment-input">
               <textarea placeholder="Enter your comment ..."></textarea>
            </div>
         </div>
         <div class="col-span-12">
            <div class="blog__comment-agree flex items-center mb-[20px]">
               <input class="e-check-input" type="checkbox" id="e-agree">
               <label class="e-check-label" for="e-agree">Save my name, email, and website
                  in this browser for the next
                  time I comment.</label>
            </div>
         </div>
         <div class="col-span-12">
            <div class="blog__comment-btn">
               <button type="submit" class="edu-btn">Post Comment</button>
            </div>
         </div>
      </div>
   </form>
</div>