<!-- step-journey-area-start -->
<div class="step-journey-area pt-[110px] pb-[90px]">
   <div class="container">
      <div class="grid grid-cols-12">
         <div class="col-span-12">
            <div class="section-title text-center mb-[45px]">
               <h2>How to <span class="down-mark-line-2">Start</span> Your Journey</h2>
            </div>
         </div>
         <div class="col-span-12">
            <div class="nav nav-tabs step-journey justify-center" id="myTab" role="tablist">
               <mat-tab-group animationDuration="0ms">
                  <mat-tab label="Quick Register">
                     <div class="step-tab-content pt-[60px] mb-[30px]">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-box mb-[30px]">
                                 <div class="srep-journey-content mt-[30px]">
                                    <h4>01. Record your video</h4>
                                    <p>Helping employees gain skills and providing development often take a back seat
                                       to business priorities workplace. We offer fresh courses on emerging topics.
                                    </p>
                                 </div>
                                 <div class="step-journey-content">
                                    <h4>02. Record your video</h4>
                                    <p>Learn Programming Languages to have a strong emphasis on functional
                                       programming. You can study any of the courses present below and get the
                                       complete.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-thumb flex-items-center">
                                 <img src="assets/img/bg/step-journey-1.png" alt="step-journey">
                              </div>
                           </div>
                        </div>
                     </div>
                  </mat-tab>
                  <mat-tab label="Set Curriculam">
                     <div class="step-tab-content pt-[60px] mb-[30px]">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-box mb-[30px]">
                                 <div class="srep-journey-content mt-[30px]">
                                    <h4>01. Do a short list</h4>
                                    <p>Helping employees gain skills and providing development often take a back seat
                                       to business priorities workplace. We offer fresh courses on emerging topics.
                                    </p>
                                 </div>
                                 <div class="step-journey-content">
                                    <h4>02. How we help you</h4>
                                    <p>Learn Programming Languages to have a strong emphasis on functional
                                       programming. You can study any of the courses present below and get the
                                       complete.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-thumb flex-items-center">
                                 <img src="assets/img/bg/step-journey-2.png" alt="step-journey">
                              </div>
                           </div>
                        </div>
                     </div>
                  </mat-tab>
                  <mat-tab label="Launch Course">
                     <div class="step-tab-content pt-[60px] mb-[30px]">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-box mb-[30px]">
                                 <div class="srep-journey-content mt-[30px]">
                                    <h4>01. Select category</h4>
                                    <p>Helping employees gain skills and providing development often take a back seat
                                       to business priorities workplace. We offer fresh courses on emerging topics.
                                    </p>
                                 </div>
                                 <div class="step-journey-content">
                                    <h4>02. How we help you</h4>
                                    <p>Learn Programming Languages to have a strong emphasis on functional
                                       programming. You can study any of the courses present below and get the
                                       complete.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-span-12 lg:col-span-6">
                              <div class="step-journey-thumb flex-items-center">
                                 <img src="assets/img/bg/step-journey-3.png" alt="step-journey">
                              </div>
                           </div>
                        </div>
                     </div>
                  </mat-tab>
                </mat-tab-group>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- step-journey-area-end -->