<!-- footer-area-start -->
<footer>
    <div class="university-footer-area pt-[100px] pb-[60px]">
        <div class="footer">
            <div class="container">
                <div class="footer-main">
                    <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w1 mb-[40px]">
                                <div class="footer-widget-head">
                                    <div class="footer-logo mb-[30px]">
                                        <a [routerLink]="['/']">
                                            <img src="assets/img/logo/logo-black.png" alt="image not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="university-footer-widget-body">
                                    <p class="mb-[30px]">Great lesson ideas and lesson plans for ESL teachers! Educators
                                        can customize
                                        lessons as best plans to knowledge.</p>

                                    <div class="university-footer-icon">
                                        <ul>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w2 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Online Platform</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li><a [routerLink]="['/course']">Proper Guidelines</a></li>
                                            <li><a [routerLink]="['/course']">Digital Library</a></li>
                                            <li><a [routerLink]="['/course']">Compare Us</a></li>
                                            <li><a [routerLink]="['/become-instructor']">Become Instructor</a></li>
                                            <li><a [routerLink]="['/become-instructor']">Build Career</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w3 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Browse Courses</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li><a [routerLink]="['/course']">Development</a></li>
                                            <li><a [routerLink]="['/course']">Business</a></li>
                                            <li><a [routerLink]="['/course']">Health & Fitness</a></li>
                                            <li><a [routerLink]="['/course']">Life Styles</a></li>
                                            <li><a [routerLink]="['/course']">Photography</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w4 mb-[40px]">
                                <div class="footer-widget-head mb-[35px]">
                                    <h4 class="footer-widget-title">Newsletter</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-subscribe">
                                        <form action="#">
                                            <div class="university-footer-subscribe relative mb-[35px]">
                                                <div class="field po">
                                                    <input type="email" placeholder="Enter email">
                                                </div>
                                                <button type="submit">
                                                    <i class="fas fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <h3>Download App</h3>
                                    <div class="app-store">
                                        <a href="#"><img src="assets/img/bg/appstore-1.png" alt="image not found"></a>
                                        <a href="#"><img src="assets/img/bg/appstore-2.png" alt="image not found"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="university-sub-footer">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="col-span-12 md:col-span-5 lg:col-span-6">
                    <div class="sub-footer-text">
                        <span>© Copyrighted & Designed by <a href="https://themeforest.net/user/bdevs">BDevs</a></span>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-7 lg:col-span-6">
                    <div class="sub-footer-link">
                        <ul>
                            <li><a [routerLink]="['/contact']">Privacy Policy</a></li>
                            <li><a [routerLink]="['/contact']">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->