<!-- teacher-area-start -->
<section class="teacher-area relative pt-[120px] overflow-hidden">
    <div class="container">
        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] items-center justify-center">
            <div class="lg:col-span-1 xxl:col-span-2"></div>
            <div class="col-span-12 lg:col-span-5 xxl:col-span-4">
                <div class="teacher-img relative">
                    <img class="teacher-main-img" src="assets/img/teacher/teacher.png" alt="image not found">
                    <img class="teacher-shape" src="assets/img/teacher/teacher-shape-01.png" alt="image not found">
                    <img class="teacher-shape-02" src="assets/img/teacher/teacher-shape-02.png" alt="image not found">
                    <img class="teacher-shape-03" src="assets/img/teacher/teacher-shape-03.png" alt="image not found">
                    <img class="teacher-shape-04" src="assets/img/teacher/teacher-shape-04.png" alt="image not found">
                </div>
            </div>
            <div class="col-span-12 lg:col-span-5 xxl:col-span-4">
                <div class="teacher-content mr-[20px]">
                    <div class="section-title mb-[30px]">
                        <h2>Become an Instructor
                            And <span class="down-mark-line-2">Teach</span> Online</h2>
                    </div>
                    <p>Helping employees gain skills and providing career development often take a back seat to
                        business priorities but workplace.</p>
                    <a class="edu-btn btn-transparent mt-[25px]" [routerLink]="['/instructor']">Join us now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- teacher-area-end -->